 body{
	font-family: 'Roboto Slab', serif;
}


.icon-bar{
 border: solid #333333 1px;
 background-color: #fff;
}

.navbar a{
	text-transform: uppercase;
	color: #cbc7c6;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;

}

.navbar ul li a:hover{
	background-color: transparent;
	color: #fff;

}


hr {
	width: 100%;
  	border-top: 1px solid #837a78;
}

header{
	background-image: url("../images/assets/header.jpg");
	background-size: cover; 
	padding-bottom: 6%;
}

header h1{
	font-family: 'Roboto', sans-serif;	font-size: 60px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

header p{
	color: #c0bdbc;
	font-weight: 400;
	font-size: 17px;
	line-height: 17px;
}


.separador-rojo{
	width: 50px;
  	border: 1.8px solid #f05f40;
}

.btn-rojo {
    background-color: #f05f40;
    border-color: #f05f40;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-radius: 30px;
    padding: 12px 25px;
    letter-spacing: 1px;	
    margin-top: 5%;

}

.modulo2{
	background-color: #f05f40;
	color: #fff;
	padding: 6% 6%;
}

.modulo2 h1{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
}

.modulo2 p{
	font-size: 18px;
	color: #fbcfc6;
	font-weight: 400;
}

.btn-blanco {
	background-color: #fff;
    border-color: #fff;
    color: #222222;
    letter-spacing: 0px;
    margin-top: 2%;

    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-radius: 30px;
    padding: 12px 25px;
  
}

.separador-blanco{

	width: 50px;
  	border: 1.8px solid #fff;
}

.modulo3{
		padding: 6% 6%;
}

.modulo3 h1{
	color: #333333;
	font-size: 30px;
	font-weight: 400;

}
.modulo3 span{
	font-size: 55px;
	color: #f05f40;

}

.modulo3 h2{
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
	color: #333333;
	font-weight: 300px;
}

.modulo3 p{
	font-weight: 700;
	color: #777777;
	font-size: 15px;

}

.modulo-fotos img {
	padding: 0;
}

.modulo-fotos article{
	margin-bottom: 3%
}
.footer-fotos{
	background-color: #222222;
	padding: 3% 0%;
}

.footer-fotos h2{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-weight: 400;
}


.modulo4{
	padding: 6%;
}

.modulo4 h1{
	color: #333333;
	font-size: 30px;
	font-weight: 400;
}

.modulo4 p{
	font-size: 18px;
	color: #333333;
	font-weight: 500;
}
.modulo4 span{
	font-size: 50px;
	color:;

}
