body{
	font-family: 'Roboto Slab', serif;
}

header{
	background-image: url("../images/assets/header.jpg");
	background-size: cover; 
	height: 500px;
}

header h1{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

header p{
	color: #fff;
	font-weight: 300;
}